@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*  ######### Global Variables #########  */
:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body{
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}

p{
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
}

body {
    overflow-x: hidden !important;
}





 /* ########## navbar styling ########## */

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #f3faff;
    /* padding: 20px 20px; */
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}
.company-logo img{
    position: relative;
    top: 3px;
    width: 200px;
}

.nav-content{
    display: flex;
    align-items: center;
}

nav ul{
    position: relative;
    display: flex;
    gap: 30px;
    font-weight: 700;
}

nav ul li a{
    cursor: pointer;
    color: var(--primary-text-color)!important;
    letter-spacing: 0.2rem;
}
nav ul li a:hover{
    color: var(--secondary-text-color)!important;
}

nav .search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 10;
    cursor: pointer;
}

.search-bar{
    position: absolute;
    /* left: 0; */
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    background: #f3faff;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
    visibility: hidden;
}

.search-bar.active{
    right: 0;
    visibility: visible;
}

.search-bar input{
    background: #f3faff;
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--accent-color-dark);
}

.searchBtn{
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
    color: var(--primary-text-color);
}

.searchBtn:hover{
    color: var(--secondary-text-color);
}

.closeBtn{
    position: relative;
    top: 2.5px;
    opacity: 0;
    visibility:hidden;
    transition: 0.5s;
    scale: 0;
    font-size: 1.7rem;
    color: var(--primary-text-color);
}

.closeBtn:hover{
    color: var(--secondary-text-color);
}

.searchBtn.active{
    left: 0;
}

.closeBtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1 ;
}

.menu-toggle{
    position: relative;
    display: none;
    color: var(--secondary-text-color);
}


/* ######## Main Body / Card Container Styling ######## */

main{
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card{
    width: 360px;
    min-height: 400px;
    box-shadow: 0px 0px 4px #d4ecff;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s ease;
}

.card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content{
    padding: 12px;
}

.news-source{
    margin-block: 12px;
}